.slider {
    position: absolute;
    width: 80%;
    top: 650px;
    right: 150px;
}

.date-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    position: relative;
    margin-left: 200px;
    margin-bottom: 3px;
    width: fit-content;
    align-items: center;
}

.play-btn {
    width: 80px;
    height: 30px;
    background-color: #00AFF0;
    border: none;
    margin: 10px;
    color: azure;
    font-size: 18px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}:active {
    color: black;
}

.pause-btn {
    width: 80px;
    height: 30px;
    background-color: #00AFF0;
    border: none;
    color: azure;
    font-size: 18px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}:active {
    color: black;
}